

<body>

  <!-- Page Loader -->
  <!--<div id="page-loader">
    <div class="preloader preloader--xl preloader--light">
      <svg viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20" />
      </svg>
    </div>
  </div>-->
  <!-- Header -->
  <header id="header">
    <div>
      <img href="/lib/Trcrexui/assets/img/logo.png" width="30px" height="30px" />
      <i class="logo__trigger zmdi zmdi-menu" data-mae-action="block-open" data-mae-target="#navigation"></i>
    </div>

    <ul class="top-menu">
      <li class="top-menu__apps dropdown hidden-xs hidden-sm">
        <a data-toggle="dropdown" href="">
          <i class="zmdi zmdi-apps"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="">
              <i class="zmdi zmdi-calendar"></i>
              <small>Calendar</small>
            </a>
          </li>

          <li>
            <a href="">
              <i class="zmdi zmdi-file-text"></i>
              <small>Files</small>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-email"></i>
              <small>Mail</small>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-trending-up"></i>
              <small>Analytics</small>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-view-headline"></i>
              <small>News</small>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-image"></i>
              <small>Gallery</small>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown hidden-xs">
        <a data-toggle="dropdown" href="">
          <i class="zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu--icon pull-right">
          <li class="hidden-xs">
            <a data-mae-action="fullscreen" href="">
              <i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen
            </a>
          </li>
          <li>
            <a data-mae-action="clear-localstorage" href="">
              <i class="zmdi zmdi-delete"></i> Clear Local Storage
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-face"></i> Privacy Settings
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-settings"></i> Other Settings
            </a>
          </li>
        </ul>
      </li>
      <li class="top-menu__alerts" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__messages">
        <a href="">
          <i class="zmdi zmdi-notifications"></i>
        </a>
      </li>
      <li class="top-menu__profile dropdown">
        <a data-toggle="dropdown" href="">
          <span>
            Volkan UZUN
          </span>
        </a>

        <ul class="dropdown-menu pull-right dropdown-menu--icon">
          <li>
            <a href="profile-about.html">
              <i class="zmdi zmdi-account"></i> View Profile
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-input-antenna"></i> Privacy Settings
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-settings"></i> Settings
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-time-restore"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </header>

  <section id="main">
    <section id="navigation">
      <div class="card">
        <!-- Profile -->
        <div class="card widget-profile" >
          <div class="list-group list-group--striped" >
            <div class="list-group-item media" >
              <div class="pull-left">
                <div class="avatar-char">
                  <img src="/lib/Trcrexui/assets/img/btc.svg" width="20px" height="20px"/>
                </div>
              </div>
              <div class="media-body" *ngFor="let currency of currencies">
                <div class="list-group__heading"  *ngIf="currency.id==1">
                  {{currency.name}}
                  <div class="pull-right text-right">
                    <button class="btn btn-link" *ngIf="currency.id==1">{{currency.price}} TRY</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item media">
              <div class="pull-left">
                <div class="avatar-char">
                  <img src="/lib/Trcrexui/assets/img/ltc.svg" width="20px" height="20px" />
                </div>
              </div>
              <div class="media-body" *ngFor="let currency of currencies">
                <div class="list-group__heading" *ngIf="currency.id==2">
                  {{currency.name}}
                  <div class="pull-right text-right">
                    <button class="btn btn-link" *ngIf="currency.id==2">{{currency.price}} TRY</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item media">
              <div class="pull-left">
                <div class="avatar-char">
                  <img src="/lib/Trcrexui/assets/img/eth.svg" width="20px" height="20px" />
                </div>
              </div>
              <div class="media-body" *ngFor="let currency of currencies">
                <div class="list-group__heading" *ngIf="currency.id==3">
                  {{currency.name}}
                  <div class="pull-right text-right">
                    <button class="btn btn-link" *ngIf="currency.id==3">{{currency.price}} TRY</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item media">
              <div class="pull-left">
                <div class="avatar-char">
                  <img src="/lib/Trcrexui/assets/img/xrp.svg" width="20px" height="20px" />
                </div>
              </div>
              <div class="media-body" *ngFor="let currency of currencies">
                <div class="list-group__heading" *ngIf="currency.id==4">
                  {{currency.name}}
                  <div class="pull-right text-right">
                    <button class="btn btn-link" *ngIf="currency.id==4">{{currency.price}} TRY</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <ul class="tab-nav tab-nav--justified tab-nav--icon">
            <li class="active">
              <a class="col-sx-6" href="#tab-1" data-toggle="tab">
                <i class="zmdi zmdi-circle icon-tab crex-green"></i> Alış
              </a>
            </li>
            <li>
              <a class="col-xs-6" href="#tab-2" data-toggle="tab">
                <i class="zmdi zmdi-circle icon-tab crex-red"></i> Satış
              </a>
            </li>
          </ul>

          <div class="card__body p-t-0">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-1">
                <div class="text-center">
                  <label class="radio-inline">
                    <input type="radio" name="buy-method" value="0" checked="checked">
                    <i class="input-helper"></i>
                    Limit
                  </label>

                  <label class="radio-inline">
                    <input type="radio" name="buy-method" value="1">
                    <i class="input-helper"></i>
                    Market
                  </label>
                </div>
                <br />

                <div class="input-group">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tutar">
                    <i class="form-group__bar"></i>
                  </div>
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-plus-circle-o"></i>
                  </span>
                </div>
                <br />
                <div class="input-group">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adet">
                    <i class="form-group__bar"></i>
                  </div>
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-plus-circle-o"></i>
                  </span>
                </div>
                <br />
                <button class="btn btn-block crex-bg-green">AL</button>
              </div>
              <div class="tab-pane fade" id="tab-2">
                <div class="text-center">
                  <label class="radio-inline">
                    <input type="radio" name="sell-method" value="0" checked="checked">
                    <i class="input-helper"></i>
                    Limit
                  </label>

                  <label class="radio-inline">
                    <input type="radio" name="sell-method" value="1">
                    <i class="input-helper"></i>
                    Market
                  </label>
                </div>
                <br />
                <div class="input-group">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tutar">
                    <i class="form-group__bar"></i>
                  </div>
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-plus-circle-o"></i>
                  </span>
                </div>
                <br />
                <div class="input-group">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adet">
                    <i class="form-group__bar"></i>
                  </div>
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-plus-circle-o pointer"></i>
                  </span>
                </div>
                <br />
                <button class="btn btn-block crex-bg-red">SAT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="card">
        <div class="card__body">
          <div class="row">
            <div class="col-sm-2 lh-30">
              <img href="~/lib/lib/img/XRP.svg" width="30px" height="30px" /> XRP / TRY
            </div>
            <div class="col-sm-2 lh-30">
              0.84210
            </div>
            <div class="col-sm-2 lh-30">
              VOL 139,295,338 XRP
            </div>
            <div class="col-sm-2 lh-30">
              0.07 (8.37%)
            </div>
            <div class="col-sm-2 lh-30">
              LOW 0.80700
            </div>
            <div class="col-sm-2 lh-30">
              HIGH 0.93679
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card__header card__header--highlight">
            <h2>Padding</h2>
          </div>

          <div class="card__body ">

          </div>
        </div>
      </div>

    </section>


    <footer id="footer">
      Copyright &copy; 2015 Material Admin

      <ul class="footer__menu">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Dashboard</a>
        </li>
        <li>
          <a href="/Currency/Details">Reports</a>
        </li>
        <li>
          <a href="">Support</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </footer>

  </section>

  <!-- Older IE Warning -->
  <!--[if lt IE 9]>
          <div class="ie-warning">
              <h1>Warning!!</h1>
              <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
              <div class="ie-warning__container">
                  <ul class="ie-warning__download">
                      <li>
                          <a href="http://www.google.com/chrome/">
                              <img src="img/browsers/chrome.png" alt="">
                              <div>Chrome</div>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.mozilla.org/en-US/firefox/new/">
                              <img src="img/browsers/firefox.png" alt="">
                              <div>Firefox</div>
                          </a>
                      </li>
                      <li>
                          <a href="http://www.opera.com">
                              <img src="img/browsers/opera.png" alt="">
                              <div>Opera</div>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.apple.com/safari/">
                              <img src="img/browsers/safari.png" alt="">
                              <div>Safari</div>
                          </a>
                      </li>
                      <li>
                          <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                              <img src="img/browsers/ie.png" alt="">
                              <div>IE (New)</div>
                          </a>
                      </li>
                  </ul>
              </div>
              <p>Sorry for the inconvenience!</p>
          </div>
      <![endif]-->
  <!-- jQuery -->

</body>
